<mat-card>
<mat-card>
    <mat-card-title>Actions</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button
              (click)="addPerson()"
              color="primary">Add New Person</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Your People</mat-card-title>
    <button mat-raised-button
              (click)="allPeople()"
              color="primary">View All Your People</button>
              <br/>
              <button mat-raised-button
              (click)="person()"
              *ngFor="let people of people$ | async"
              color="primary"> {{people.name}}</button>
  </mat-card>
  <mat-card>
    <mat-card-title>Your Reminders</mat-card-title>
    <button mat-raised-button
              (click)="reminders()"
              color="primary">View all reminders</button>
             
  </mat-card>
</mat-card>
