<table>
    <thead>
      <th>Name</th>
      <th>Method of Contact</th>
      <th>Last Contacted</th>
      <th>Next Contact</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let people of people$ | async">
        <td>{{people.name}}</td>
        <td>
          {{people.methodOfContact}}
        </td>
        <td>
          {{people.lastContact| date:'shortDate' | dateOr:'No last contact date'}}
        </td>
        <td>{{people.nextContact| date:'shortDate' | dateOr:'No next contact date'}}</td>
      </tr>
    </tbody>
  </table>

<div>
    <button mat-stroked-button
            (click)="returnHome()">Return Home</button>
</div>