<table>
    <thead>
      <th>Name</th>
      <th>Method of Contact</th>
      <th>Date to Contact</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let people of people$ | async">
        <td>{{people.name}}</td>
        <td>
          {{people.methodOfContact}}
        </td>
        <td>
          {{people.nextContact| date:'shortDate' | dateOr:'No future contact dates'}}
        </td>
        <td><button mat-stroked-button>Complete</button></td>
        <td><button mat-stroked-button>Ignore</button></td>
      </tr>
    </tbody>
  </table>

<div>
    <button mat-stroked-button
            (click)="returnHome()">Return Home</button>
</div>
