<table>
    <thead>
      <th>Name</th>
      <th>Method of Contact</th>
      <th>Date to Contact</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Sample Name 1</td>
        <td>
          SnapChat
        </td>
        <td>
          9/29/2020
        </td>
        <td><button mat-stroked-button>Complete</button></td>
        <td><button mat-stroked-button>Ignore</button></td>
      </tr>
    </tbody>
  </table>

<div>
    <button mat-stroked-button
            (click)="returnHome()">Return Home</button>
</div>
